@charset "utf-8";
/* CSS Document */

.div1{
	background-image: url("Main-Ground.jpg");
	min-height:500px;
	min-width:400px;	
}

div1:hover{
	background-image: url("error.jpg");
	transition : all 2s  ease-in-out;
}