@charset "utf-8";
/* CSS Document */

.bakground{
	background-image: url(background1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	
	
	
		
}

.bakground:hover{
	
	background-image: url(background2.jpg);
	transition : all 2s  ease-in-out;
	
}

.head{
	background: rgba(0,0,0,0.7);
	width: 320px;
	font-family: Ink Free Regular ;
	color: aliceblue;
	font-size: 50px;
}

.t1{
	background: rgba(10,3,1,0.3);
	margin: auto;
	
}


body{
	font-family:Century Gothic;
	align:left;
	color:#C9C
	}

.footage{
	align: center;
	background: rgba(9,9,9,0.3);
	height: 300px;
	color: black;
	font-size: 15px;
	color: aliceblue;
}

.path{
	align: center;
	background: rgba(9,9,9,0.3);
	height: 40px;
	width: 800px;
}
 
.path:hover{
	opacity: 1.0;
}
.a:hover{
	
	background-color:dodgerblue;
	height: 1px;
	transition : all 0.7s  ease-in-out;
	}
a{
	text-decoration: none;
	color: aliceblue;
}

.main{
	margin:auto;
	width: 90%;
}













@media screen and (max-width:800px){
	.bakground{
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
	}
	bakground:hover{	
		
		background-image: url(background2.jpg);
		transition : all 2s  ease-in-out;
	}
	.head{
		width: auto;
		margin-top: 0px;
	}
	.main{
		margin:auto;
		width: 100%;
	}
	.t1 table
	{
	margin-left: 0px;
	cellspacing:0px;
	width:10px;
	height:10px;
	}

}